/*
CSV 
c8e9ee,21acce,facb0e,44bb6c,5ac4db,77ccdd,7ebe56,28ad9c,3ccce4
Array 
["c8e9ee","21acce","facb0e","44bb6c","5ac4db","77ccdd","7ebe56","28ad9c","3ccce4"]
*/
.row_header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.link{
    font-size: x-large;
    font-weight: bold;
    transition: border-bottom  1.0s ease-in-out;
    border-bottom: 10px solid transparent;
    text-decoration: none;
}

.link:hover{
    border-bottom: 5px solid currentColor;
}

.titutlo-analisis {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding: 10px;
    margin-top: 10px;
}

.left-align {
    align-self: flex-start;
    margin-right: auto;
    padding-left: 19vw;
}

.subtitutlo-analisis {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 15px;
    margin-top: 10px;
    text-align: left;
}


.row_gr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center_row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.w-all {
    width: 100%;
}

.feature {
    gap: 20px;
}

.dropdown-feature {
    width: 400px;
    text-align: center;
}

.center_row_around {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.labels {
    font-size: x-large;
    font-weight: bold;
}

.gap_30 {   
    gap: 30px;
}

.body_graficas{
    position: relative;
    width: 100%;
}

.button-graficar {
    position: absolute;
    top: 65px;
    right: 10px;
    padding: 10px;
    border-radius: 25%;
    background-color: rgb(73, 213, 159);
    width: 150px;
    font-size: large;
    font-weight: bold;
}

.mt-30{
    margin-top: 30px;
}

.div_correlation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px
}  


.title_Corre{
    font-size: xx-large;
    font-weight: bold;
    margin: 70px 0px 0px 0px;
}
.subtitle{
    font-size: large;
    font-weight: bold;
}
.title_Corre2{
    font-size: xx-large;
    font-weight: bold;
    margin: 70px 0px 40px 0px;
}
.body{
    user-select: none;
    padding-bottom: 10px;
}
.div_resultado{
    gap:70px

}

/* Div Features*/
.div_feature{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 275px;
    border-radius: 20px;
}
.div_features{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-radius: 15px;
    gap: 50px;
}
.label_features{
    font-size: x-large;
    font-weight: bold;
    border-radius: 30px;
}
.features{
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 30px;
    justify-content: center;
}
.div_tiposdatos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px
}
.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.Categoricas{
    
    padding: 20px 0px;
}
.Numericas{

    padding: 20px 0px;
}
.center_figure{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div_resumen_general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0px;
}
.resumen{
    height:600px;
    width: 100%;
    padding: 0px 0px 30px 0px;
    overflow-y: scroll;
}
.texto{
    font-size: large;
    font-weight: bold;
}


.rounded-graph {
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 4px;
    box-shadow: 5px 5px 10px grey;
    background-color: rgb(255, 255, 255);
    width: 70%; 
    margin: auto;
}

@media only screen and (max-width: 390px) {
    .rounded-graph {
        width: 100%;  
    }
}

.centered-container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-container2 {
    width: 55%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.another-container {
    border: 2px solid black;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 5px 5px 10px grey;
    background-color: rgb(255, 255, 255);
    width: 100%; 
}

@media only screen and (max-width: 600px) {
    .another-container {
        width: 100%; 
        margin: 0;
    }
}

.centered-container3 {
    width: 80%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.another-container2 {
    border: 2px solid black;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 5px 5px 10px grey;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 90%;
    margin: auto;
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .another-container {
        width: 100%; 
    }
}
.width_8{
    position: relative;
    width: 80%;
}