.titutlo-analisis{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding: 10px;
    margin-top: 10px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-all{
    width: 100%;
}

.feature{
    gap: 20px;
}

.dropdown-feature{
    width: 400px;
    text-align: center;
}

.center_row_around{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.labels{
    font-size: x-large;
    font-weight: bold;
}

.gap_30{
    gap: 30px;
}

.body{
    position: relative;
}

.button-graficar{
    position: absolute;
    top: 75px;
    right: 100px;
    padding: 10px;
    border-radius: 25%;
    background-color: rgb(73, 213, 159);
    width: 150px;
    font-size: large;
    font-weight: bold;
}

.mt-30{
    margin-top: 30px;
}

.div_correlation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  